/* Colours*/
:root {
  --shopMain: #000066;
  --shopBackground: #8888FF;
  --shopActive: #EEEE00;
  --shopHover: #AA0000;
  --shopHoverBackground: 
}

.shopMain {
  background-color: var(--shopBackground);
}

.shopNav {
  background-color: var(--shopMain);
  position: fixed;
  top: 0;
}

.shopFooter {
  background-color: var(--shopMain);
  position: fixed;
  bottom: 0;
}

.buyButton {
  text-decoration: none;
  padding: 1.1em;
  margin: 1.1em;
  background: var(--shopMain);
  color: var(--shopActive);
  border: none;
}
.buyButton:hover {
  color: var(--shopHover);
}