/* Colours*/
:root {
  --shopMain: #000066;
  --shopBackground: #CCCCFF;
  --shopActive: #EEEE00;
  --shopHover: #AA0000;
  --shopHoverBackground: #EEEEEE;
  --shopWhite: #EEEEEE;
  --paymentGreen: #00EE00;
  --paymentRed: #EE0000;
  --formGreen: #00EE00;
  --formRed: #EE0000;
}

/*html,body {
  height: 100% !important;
}*/
.shopMain {
  background-color: var(--shopBackground);
  height: 100vh;
  text-align: center;
  margin: auto;
}

.shopNav {
  background-color: var(--shopMain);
  position: fixed;
  top: 0;
}

.shopFooter {
  background-color: var(--shopMain);
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 20vh;
  color: var(--shopWhite);
}

.buyButton {
  text-decoration: none;
  padding: 1.1em;
  margin: 1.1em;
  background: var(--shopMain);
  color: var(--shopActive);
  border: none;
}
.buyButton:hover {
  color: var(--shopHover);
}

.detailsGrid {
  width: 100%;
  height: 100%;
  margin: 2.5em;
}

.detailsGrid-left {
  width: 30%;
}

.detailsGrid-right {
  width: 70%;
}

.detailsGrid-name {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.detailsGrid-goBack {
  text-decoration: none;
  padding: 1.1em;
  margin: 1.1em;
  background: var(--shopWhite);
  color: var(--shopMain);
  border: none;
  width: 45%;
}

.detailsGrid-Buy {
  text-decoration: none;
  padding: 1.1em;
  margin: 1.1em;
  background: var(--shopActive);
  color: var(--shopMain);
  border: none;
  width: 45%;
}

.paymentSuccess {
  background: var(--paymentGreen);
  height: 5em;
}

.paymentFailed {
  background: var(--paymentRed);
  height: 5em;
}

.userinputGrid {
  display: flex;
}

.userinputGrid-left {
  display: flex;
  background-color: #000066;
  flex-direction: column;
}

.userinputGrid-right {
  display: flex;
  background-color: #00EE00;
  flex-direction: column;
}

.form-green {
  background-color: var(--formGreen);
}

.form-red {
  background-color: var(--formRed);
}